<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<%= render 'reviews/form' %>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.content %>  <%= "*" * review.rating %></p>
  <% end %>
</ul>

<br>
<%= link_to "Back", restaurants_path %>
